@charset "utf-8";
/* CSS Document */

h1{
	text-align:center;
	font-size:36px;	
}
div#e-mail{
	border: solid 2px black;
	padding:1em;
	margin:3em 0 0 3em;
	background-color:#CC6;
	width:50vw;
	max-width:40em;
}
div#e-mail > h3{
	text-align:center;
	font-size:150%;
}
div#e-mail > form > *{
	margin-top:0.9em;
	padding:0.2em;
}
.red{
	font-weight:bold;
	color:red;
}